/* very simple css*/

body {
    font-family: "sans-serif";
    text-decoration: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.content {
    margin: auto;
}

header {
    background-color: gray;
    padding: 0.7em;
}

nav {
    background-color: darkgrey;
    padding: 0.7em;
     /* probably because of pure CSS madness, this is required so the
      * floating children will resize the parent...
      */
    overflow: hidden;
}

nav a {
    padding: 0 0.7em 0 0;
}

.page-title {
    font-size: 3ex;
}

.page-subtitle {
    font-size: 2ex;
    font-style: italic;
    margin-left: 1em;
}

.character-card {
    padding: 2ex;
}

.trait-badge {
    padding: 0.7em;
    border-radius: 1px;
    border-color: black;
    border-style: solid;
}
