<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static  "base.css" %}"/>

    <title>{% block title %} Starbound RP{% endblock %}</title>
</head>
<body>
<header class="base-header">
    <div class="header-row">
        <span class="header-title">Starbound RP</span>
        <nav class="header-navigation">
            <a class="header-navigation-link" href="/">Home</a>
            <a class="header-navigation-link" href="{% url 'character_list' %}">Characters</a>
        </nav>
        <div id="account-status">
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Logout {{ user.username }}</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>

            {% endif %}
        </div>
    </div>
</header>
<main class="content">
    {% block content %}
    {% endblock %}
</main>
</body>
</html>