{% extends "base.html" %}

{% block title %} Profile - {{ character }} {% endblock %}

{% block content %}
    <section class="left character-card">
        <img src="{{ character.picture_url }}" style="width:256px; min-height: 256px"/>
        <h2>{{ character }}</h2>
        <p>Age: {{ character.age}}</p>
        <p>Species: {{ character.species }}</p>
        <p>Gender: {{ character.gender }}</p>
    </section>
    <section class="left character-card">
    <p>First Name: {{ character.first_name|ljust:"30" }}</p>
    <p>Last Name: {{ character.last_name }}</p>
    <p>Player: {{ character.owner.username }}</p>
    <p>Color Code: <span style="color:#{{ character.color_code }}">^#{{ character.color_code }}</span></p>
    <h3>Description</h3>
    <p>{{ character.description|wordwrap:82|escape|linebreaks }}</p>
    <h3>History</h3>
    <p>{{ character.biography|wordwrap:82|escape|linebreaks }}</p>
    </section>
{% endblock %}
